hs_err_*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

.DS_Store

### Pulumi ###
/iac/node_modules
/iac/bin
/iac/.pulumi/backups
/iac/.pulumi/history

**/application-private.yml
**/docker-compose-private.yml

**/classes/**

### Http Client ###
**/*.private.env.json

/images/**

target